html,
body {
  height: 100%;
  margin: 0;
}

.hero {
  background-color: #1e1e1e;
  background: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.hero .container {
  width: 92%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding-top: 36px
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.nav a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px
}

.contact-section {
  height: 100vh;
}

.contact-section .row {
  height: 100vh;
}

.contact-left {
  height: 100vh;
  background: #143234;
  color: white;
  padding: 60px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-left h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.form-control {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: white;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.form-control:focus {
  background: transparent;
  color: white;
  box-shadow: none;
  border-color: white;
}

.btn-custom {
  background: var(--bg);
  color: var(--bg);
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 6px;
}

.phone {
  margin-left: 20px;
  font-weight: 500;
}

iframe {
  width: 100%;
  height: 100vh;
  border: 0;
  display: block;
}